[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "<4.0,>=3.0"
flask-sqlalchemy = "<4.0,>=3.1"
flask-jwt-extended = "<5.0,>=4.6"
flask-cors = "<5.0,>=4.0"
werkzeug = "<4.0,>=3.0"

[dev-packages]

[requires]
python_version = "3.14"
